<ng-container *ngIf="launchDetails$ | async as launchDetails">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1><span id="button-back" [routerLink]="['/']" title="Back to list" class="fa fa-chevron-left"></span>&nbsp;{{ launchDetails.mission_name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card" style="width: 30rem;">
          <img [src]="launchDetails.links.mission_patch" class="card-img-top" alt="Mission patch of {{ launchDetails.mission_name }}">
          <div class="card-body">
            <p class="card-text">{{ launchDetails.details }}</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col">
            <img [src]="mainImage" class="img-fluid rounded mx-auto d-block" alt="Picture of {{ launchDetails.mission_name }}">
          </div>
        </div>
        <div class="row thumbnails">
          <div class="col">
            <ul class="list-group list-group-horizontal">
              <li 
              [ngClass]="{'disabled' : thumbnailOffset == 0}"
              (click)="slideThumbnails('left')"
              class="slider-button list-group-item align-items-center"
              >
                <span class="fa fa-chevron-left fa-3x"></span>
              </li>
              <li 
              *ngFor="let image of launchImages; let i=index"
              (click)="changeMainImage()"
              [hidden]="i < thumbnailOffset || i >= thumbnailOffset + 3"
              class="list-group-item"
              >
                <img
                class="img-thumbnail"
                [src]="image"
                alt="Picture of {{ launchDetails.mission_name }}"
                loading="lazy"
                />
            </li>
            <li 
            [ngClass]="{'disabled' : thumbnailOffset == imagesCount - 3}"
            (click)="slideThumbnails('right')"
            class="slider-button list-group-item align-items-center"
            >
              <span class="fa fa-chevron-right fa-3x"></span>
            </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
</ng-container>
