.card {
	border-top-width: 10px;
	border-bottom-width: 10px;
}
.img-fluid {
	max-height: 500px;
	width: auto;
}

.row.thumbnails {
	position:absolute;
	bottom:0;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
    display: flex;
    justify-content: center;
}

.thumbnails {
	cursor: pointer;
}

.slider-button.disabled {
	cursor: not-allowed;
	color: #E6E4E1;
}

.img-thumbnail {
	height: 5em;
	width: auto;
}